.container {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr 2fr 3fr 5fr;
}

.zone {
  cursor: pointer;
  text-align: center;
  font-size: 10em;
  transition: all 0.3s linear;
  border: 1px solid #bbb;
  border-radius: 4px;
}

.zone:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    transform: scale(1.05);
}

.green {
    background: #56B870;
    background: -moz-linear-gradient(top, #56B870 0%, #a5c956 100%);
    background: -webkit-linear-gradient(top, #56B870 0%, #a5c956 100%);
    background: linear-gradient(to bottom, #56B870 0%, #a5c956 100%);
}

.red {
    background: #FF5F6D;
    background: -moz-linear-gradient(top, #FF5F6D 0%, #FFC371 100%);
    background: -webkit-linear-gradient(top, #FF5F6D 0%, #FFC371 100%);
    background: linear-gradient(to bottom, #FF5F6D 0%, #FFC371 100%);
}

.blue {
    background: #36D1DC;
    background: -moz-linear-gradient(top, #36D1DC 0%, #5B86E5 100%);
    background: -webkit-linear-gradient(top, #36D1DC 0%, #5B86E5 100%);
    background: linear-gradient(to bottom, #36D1DC 0%, #5B86E5 100%);
}

.yellow {
    background: #F7971E;
    background: -moz-linear-gradient(top, #F7971E 0%, #FFD200 100%);
    background: -webkit-linear-gradient(top, #F7971E 0%, #FFD200 100%);
    background: linear-gradient(to bottom, #F7971E 0%, #FFD200 100%);
}

.purple {
    background: #8E2DE2;
    background: -moz-linear-gradient(top, #8E2DE2 0%, #4A00E0 100%);
    background: -webkit-linear-gradient(top, #8E2DE2 0%, #4A00E0 100%);
    background: linear-gradient(to bottom, #8E2DE2 0%, #4A00E0 100%);
}

.brown {
    background: #A52A2A;
    background: -moz-linear-gradient(top, #A52A2A 0%, #8B4513 100%);
    background: -webkit-linear-gradient(top, #A52A2A 0%, #8B4513 100%);
    background: linear-gradient(to bottom, #A52A2A 0%, #8B4513 100%);
}
